%header#main-area-header
  %hgroup
    %h1 Design

%ul#designs
  - @designs.each do |design|
    %li
      %ul.show-edit-destroy
        %li= link_to 'Show', design
        %li= link_to 'Edit', edit_design_path( design )
        %li= link_to 'Destroy', design, :confirm => 'Are you sure?', :method => :delete

%footer#main-area-footer
  %nav#bottom-nav
    %ul#bottom-menu
      %li.main_area_footer_li= link_to 'New Design', new_design_path

