%p#notice= notice

%header#main-area-header
  %hgroup
    %h1= @page.title unless @page.title == "About"
.content
  = raw @page.content

- if @active_user
  %footer#main-area-footer
    %nav#bottom-nav
      %ul#bottom-menu
        %li.main_area_footer_li= link_to 'Edit', edit_page_path(@page)