%header#main-area-header
  %hgroup
    %h1 Editing Art

= render 'form'

%footer#main-area-footer
  %nav#bottom-nav
    %ul#bottom-menu
      %li.main_area_footer_li= link_to 'Show', @art
      %li.main_area_footer_li= link_to 'Back', art_index_path