%header#main-area-header
  %hgroup
    %h1 Art
    
%ul#designs
  - @art.each do |art|
    %li
      %ul.show-edit-destroy
        %li= link_to 'Show', art
        %li= link_to 'Edit', edit_art_path( art )
        %li= link_to 'Destroy', art, :confirm => 'Are you sure?', :method => :delete

%footer#main-area-footer
  %nav#bottom-nav
    %ul#bottom-menu
      %li.main_area_footer_li= link_to 'New Art', new_art_path